<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link href="{{url_for('static', filename='assets/styles/bootstrap.min.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='assets/styles/styles.css')}}" rel="stylesheet">

<footer class="ct-footer">
  <div class="ct-footer-post">
    <div class="container">
      <div class="inner-left">
        <!-- <ul>
          <li>
            <a href="">FAQ</a>
          </li>
          <li>
            <a href="">News</a>
          </li>
          <li>
            <a href="">Contact Us</a>
          </li>
        </ul> -->
      </div>
      <div class="inner-right">
        <p>Copyright © 2020 Shush.&nbsp;<a href="">Privacy Policy</a></p>
        <p><a class="ct-u-motive-color" href="" target="_blank">A Julian Serra Creation</p>
      </div>
    </div>
  </div>
</footer>